span.rollover {
  opacity: 1;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background:url(../img/mag.png) center center no-repeat #000;
  cursor: pointer;
  height: 130px;
  width: 130px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  border-radius: 10%;
}
span.rollover:hover {
  opacity: 0.3;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;
}
.imgborder{
  height: 130px;
  width: 130px;
  border-radius: 10%;
}
.user-name{
  height: 50px;
}
.box-user{
  height: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}
blockquote{
  height: 120px;
}
header{
  margin-bottom: 10px;
}
.media
{
  margin: 5px 0;
  padding:5px;
}
.dp
{
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
}
.dp:hover
{
  border:2px solid #eee;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);  
  -webkit-transform:rotate(360deg);
}
.radar-chart .area {
  fill-opacity: 0.7;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.Agent, .Agent .circle {
  fill: #399FAC;
  stroke: none;
}
.area.Average, .Average .circle {
  fill: #AC3949;
  stroke: none;
}
.selectpicker {
    width: 100%;
}
.filter{
  margin-right: 0.5em;
  margin-left: 0.5em;
}